<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcallback</name>
            <displayName><![CDATA[Обратный звонок]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Модуль обратного звонка]]></description>
            <author><![CDATA[aggrrrh]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>